<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tingkao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tingkao.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.tingkao.MainActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.tingkao.FloatViewActivity"
            android:label="@string/title_activity_float_view" >
        </activity>
        <activity
            android:name="com.example.tingkao.ScaleActivity"
            android:label="@string/title_activity_float_view" >
        </activity>
        <activity
            android:name="com.example.tingkao.SlideActivity"
            android:label="@string/title_activity_float_view"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.example.tingkao.KuGouSlideActivity"
            android:label="@string/title_activity_float_view"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.tingkao.RotationActivity"
            android:label="@string/title_activity_rotation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.tingkao.LocusAnimationActivity"
            android:label="@string/title_activity_locus_animation" >
        </activity>
        <activity
            android:name="com.example.tingkao.SetPageTransformerDemoActivity"
            android:label="@string/title_activity_set_page_transformer_demo" >
        </activity>
        <activity
            android:name="com.example.tingkao.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.tingkao.ImageMapsActivity"
            android:label="@string/title_activity_image_maps"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.tingkao.HorizontalScrollViewActivity"
            android:label="@string/title_activity_horizontal_scroll_view" >
        </activity>
        <activity
            android:name="com.example.tingkao.CRecyclerViewActivity"
            android:label="@string/title_activity_recycler_view"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.tingkao.ViewGroupReflectionExample"
            android:label="@string/title_activity_recycler_view"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.tingkao.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
    </application>

</manifest>